<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Application name -->
    <springProperty scope="context" name="appName"
                    source="spring.application.name"/>

    <!-- Log directory -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Console log pattern -->
    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [%X{correlationId}] [%X{userId}] %-5level %logger{36} - %msg%n"/>

    <!-- File log pattern -->
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level
                     app [${appName}]
                     correlationId [%X{correlationId}]
                     %logger{36} - %msg%n"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${appName}.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/${appName}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Reduce noisy logs -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
